
body{
    background-color: white;
    font-family: Nunito;
}

/* All section Styling */
#experience, #schedule {
    margin: 30px 200px 50px 200px;
    background: rgb(230, 243, 255);
    border-radius: 8px;
    border: 2px solid  rgba(255, 231, 231, 0.856);
}

div.wrapper {
    margin: auto;
    width: 80%;
}

/* Font styling */
h1 {
    padding: 10px 0 10px 0;
    font-weight: bold;
    font-style: italic;
}

h2 {
    font-weight: bold;
    padding: 10px 0;
}

h3 {
    padding: 10px 0 10px 0;
}

h4 {
    padding: 10px 0 0 0;
}

h6 {
    font-style: italic;
    line-height: 25px;
}

h5 {
    font-weight: bold;
}

p {
    line-height: 25px;
}

/* Nav bar */
#nav-bar {
    padding: 20px;
    background-color: white;
    text-align: center;
}
.nav-overview li {
    padding: 10px;
    display: inline;
}

.nav-overview a {
    color: darkblue;
    text-decoration: none;
}

.nav-overview a:hover {
    background: rgba(255, 231, 231, 0.856);
}

.nav-overview a:active {
    background: rgba(93, 171, 223, 0.79);
    color: white;
}

img.empagelogo {
    width: 200px;
    margin-bottom: 30px;
}


/* Header/About Me Section */
#header {
    margin: 0 200px 0 200px;
    background: linear-gradient(rgba(255, 231, 231, 0.856) 25%, rgb(230, 243, 255));
    border: 1px;
    border-radius: 8px;
    overflow: auto;
}

.emily-right {
    float: right;
    margin: 30px;
}

/* Experience Section */
#experience .flex-child {
    float: left;
    width: 33.33%;
}

#experience .wrapper:after {
    content: "";
    display: table;
    clear: both;
  }

/* Tables */
table {
    margin: auto;
    margin-bottom: 30px;
}

table, th, tbody, td {
    padding: 40px;
    border: 1px solid;
    color: black; 
}

thead {
    text-align: center;
    font-size: large;
    background: white;
    text-shadow: 1px 1px 1px rgb(223, 137, 137);
}

tbody tr:nth-child(odd) {
    background: rgba(255, 231, 231, 0.856);
}

tbody tr:nth-child(even) {
    background: rgba(241, 230, 230, 0.856);
}

tbody tr td:first-child{
    font-weight: bold;
}

.td-container {
    text-align: center;
    font-weight: bold;
    font-style: italic;
}


/* Contact form */
#contact {
    background: linear-gradient(rgb(230, 243, 255), rgba(255, 231, 231, 0.856));
    border-top: 8px;
    border: 2px solid  rgba(255, 231, 231, 0.856)
}

.contact-container {
    margin: 50px 300px 50px 300px;
    padding: 30px;
    background: white;
    border-radius: 8px;
    border: 2px solid  rgba(255, 231, 231, 0.856);
}

/* form, #fname, #lname, #email, #message {
    display: block;
    margin: 10px;
    text-align: center;
} */

/* div.form-container {
    display: block;
    text-align: center;
} */

/* .form1 { */

    /* display: inline-block; 
    margin-left: auto;
    margin-right: auto;
    text-align: left; */
/* } */

/* #fname, #lname, #email, #message {
    margin: 10px;
} */

.form1 {
    margin: 0 auto;
    width: 300px;
}

.form1 label{
    display: inline-block;
    text-align: right;
    float: left;
    margin-bottom: 30px;
}

.form1 input{
    display: inline-block;
    text-align: left;
    float: right;
    margin-bottom: 30px;
}

div.contact-container > h2 {
    text-align: center;
    padding: 10px 0 40px 0;
}

/* Footer section */
footer {
    background: white;
}

h3.find-me {
    font-style: italic;
    font-size: large;
    font-weight: bold;
}

[alt~="githublogo"], [alt~="linkedinlogo"], [alt~="xlogo"] {
    margin-right: 15px;
    margin-bottom: 30px;
    width: 25px;
    height: auto;
}

/* 
linear-gradient(rgba(255, 231, 231, 0.856) 40.8%, rgba(93, 171, 223, 0.79)); */

