
body{
    background-color: white;
    font-family: Nunito;
}


div.wrapper {
    margin: auto;
    padding: 20px;
    width: 80%;
}

/* Nav bar */
#nav-bar {
    padding: 20px;
    background-color: white;
    text-align: center;
}
.nav-overview li {
    padding: 10px;
    display: inline;
}

.nav-overview a {
    color: darkblue;
    text-decoration: none;
}


/* Header Section */
#header {
    margin: 0 200px 0 200px;
    background: linear-gradient(rgba(255, 231, 231, 0.856) 40.8%, rgba(93, 171, 223, 0.79));
    border: 1px;
    border-radius: 8px;
    overflow: auto;
}

.emily-right {
    float: right;
    border-radius: 100px;
}

/* Tables */
table, thead, tbody, td {
    border: 1px solid;
    color: black; 
}

.tick {
    text-align: center;
    font-size: 100%;
    font-weight: bold;
    color: green;

}