
body{
    background-color: white;
    font-family: Nunito;
}

/* All section Styling */
#experience, #schedule {
    margin: 30px 200px 50px 200px;
    background: rgb(230, 243, 255);
    border-radius: 8px;
    border: 2px solid  rgba(255, 231, 231, 0.856);
}

div.wrapper {
    margin: auto;
    width: 80%;
}

/* Font styling */
h1 {
    padding: 10px 0 10px 0;
    font-weight: bold;
    font-style: italic;
}

h2 {
    font-weight: bold;
    padding: 10px 0;
}

h3 {
    padding: 10px 0 10px 0;
}

h4 {
    padding: 10px 0 0 0;
}

h6 {
    font-style: italic;
    line-height: 25px;
}

p {
    line-height: 25px;
}

/* Nav bar */
#nav-bar {
    padding: 20px;
    background-color: white;
    text-align: center;
}
.nav-overview li {
    padding: 10px;
    display: inline;
}

.nav-overview a {
    color: darkblue;
    text-decoration: none;
}

.nav-overview a:hover {
    background: rgba(255, 231, 231, 0.856);
}

.nav-overview a:active {
    background: rgba(93, 171, 223, 0.79);
    color: white;
}


/* Header/About Me Section */
#header {
    margin: 0 200px 0 200px;
    background: linear-gradient(rgba(255, 231, 231, 0.856) 25%, rgb(230, 243, 255));
    border: 1px;
    border-radius: 8px;
    overflow: auto;
}

.emily-right {
    float: right;
    margin: 30px;
}

/* Experience Section */
#experience .wrapper {
    display: flex;
}

.flex-child {
    flex: 1;
    margin-top: 60px;
    margin-left: -160px;
}

/* Tables */
table {
    margin: auto;
    margin-bottom: 30px;
}

table, thead, tbody, td {
    padding: 40px;
    border: 1px solid;
    color: black; 
}

thead {
    text-align: center;
    font-size: large;
    background: white;
    text-shadow: 1px 1px 1px rgb(223, 137, 137);
}

tbody tr:nth-child(odd) {
    background: rgba(255, 231, 231, 0.856);
}

tbody tr:nth-child(even) {
    background: rgba(241, 230, 230, 0.856);
}

tbody tr td:first-child{
    font-weight: bold;
}

.tick {
    text-align: center;
    font-size: 20px;
    font-weight: bolder;
    color: green;
}


/* Contact form */
#contact {
    background: linear-gradient(rgb(230, 243, 255) 30%, rgba(255, 231, 231, 0.856));
    border-top: 8px;
    border: 2px solid  rgba(255, 231, 231, 0.856)
}

.contact-container {
    margin: 50px 300px 50px 300px;
    padding: 30px;
    background: white;
    border-radius: 8px;
    border: 2px solid  rgba(255, 231, 231, 0.856);
}

/* form, #fname, #lname, #email, #message {
    display: block;
    margin: 10px;
    text-align: center;
} */

div.form-container {
    display: block;
    text-align: center;
}

.form1 {
    display: inline-block; 
    margin-left: auto;
    margin-right: auto;
    text-align: left;
}

#fname, #lname, #email, #message {
    margin: 10px;
}

div.contact-container > h2 {
    text-align: center;
    padding: 10px 0 40px 0;
}

h3.find-me {
    font-style: italic;
}

[alt~="githublogo"], [alt~="linkedinlogo"], [alt~="xlogo"] {
    margin-right: 15px;
    margin-bottom: 30px;
}


/* 
linear-gradient(rgba(255, 231, 231, 0.856) 40.8%, rgba(93, 171, 223, 0.79)); */